/* all.css */

/* Add your general CSS styles here */
body {
    font-family: Arial, sans-serif;
}

.card {
    margin-top: 50px;
}

.navbar {
    margin-bottom: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
