.password-container {
    position: relative;
    margin-bottom: 0.05rem; /* Ensure enough space below the password field */
}

.password-container .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.show-password-container {
    position: absolute;
    bottom: -20px;
    left: 0;
    display: flex;
    align-items: center;
}

.show-password-container label {
    margin-left: 5px;
    white-space: nowrap;
}



