/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* login form Container styles */
.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 2rem;        /*padding: 20px; */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 0 auto;
  height: 85%;
  overflow-y: auto;
}


h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #520570;
  margin-bottom: 1.5rem;
  margin-top: -0.5rem; /* Adjust this value as needed */
}

/* CSS for the login form */
.form-label {
  font-family: 'Roboto', sans-serif;
  display: flex;
  font-weight: 500;
  color: #555555;
  flex-direction: column;
  align-items: flex-start; /* Align the form elements to the start */
  padding: 0.05rem 0; /* Adjust padding to reduce the space around the labels */
}

.specific-container {
  max-width: 500px;
  margin-left: -2rem; /* Adjust this value to move the container to the left */
  min-height: 500px;
  overflow-y: auto;
}


.form-label input[type="text"],
.form-label input[type="password"] {
  font-family: 'Roboto', sans-serif;
  width: 100%; /* Make input fields full-width */
  padding: 0.05rem; /* Adjust padding inside the input fields */
  margin-top: -0.5rem; /* Reduce margin to bring input fields closer to labels */
}

.form-control, .form-group input {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 0.8rem;
  font-size: 1rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem; /* Reduced from 1rem to 0.5rem */
  width: 100%;
  box-sizing: border-box;
}

/* Form buttons styles*/
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container .btn {
  flex: 1;
  margin: 0 0.5rem;
  background-color: #33e42d;
}

.button-container .btn:hover {
  background-color: #0056b3;
  }

.button-container .btn:first-child {
  margin-left: 0;
}

.button-container .btn:last-child {
  margin-right: 0;
}

.btn-primary {
background-color: #33e42d;   /* #007bff;*/
border: none;
padding: 0.75rem;
font-size: 1rem;
font-weight: 500;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.btn-primary:hover {
background-color: #0056b3;
}

a {
color: #007bff;               /* #007bff; */
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

label {
  font-weight: bold;
  color: #495057;
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  /*padding: 10px; */
  margin: 5px 0 15px 0;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  background-color: #33e42d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#prediction {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #28a745;
}

/* styles.css */
.prediction-text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.prediction-text.fraud {
  color: red;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.prediction-text.not-fraud {
  color: green;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

/* Add this CSS to ensure proper styling of the profile circle and dropdown */
.user-profile {
  position: absolute;
  top: 20px;
  right: 10px;
  display: inline-block;
}
/* Add rounded-circle class for circular profile pictures */
.profile-pic.rounded-circle {
  border-radius: 50%;
}

.profile-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ff00; /* Green color for no profile picture */
  text-transform: uppercase;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-initials {
  font-size: 1.5em;
  color: #800080; /* Purple color for user initials */
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0; /* Change from left to right */
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 150px;
  max-width: 200px; /* Add a max-width to limit container size */
  overflow: auto; /* Add overflow to handle excess items */
  padding: 8px 0; /* Adjust padding for better spacing */
}

.dropdown-menu .dropdown-item {
  padding: 4px 12px; /* Reduce padding for each item */
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-menu.show {
  display: block;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -0.5rem;
  color: #333;
}

/* Add this CSS to ensure proper styling of the form */
button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Prediction text */
.red-text, .fraud {
  font-family: 'Roboto', sans-serif;
  color: red;
}

.green-text, .not-fraud {
  font-family: 'Roboto', sans-serif;
  color: green;
}

/* Password visibility */
.password-container {
  position: relative;
  margin-bottom: 2rem; /* Ensure enough space below the password field */
}

.password-container .eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.show-password-container {
  position: absolute;
  bottom: -20px;
  left: 0;
  display: flex;
  align-items: center;
}

.show-password-container label {
  margin-left: 5px;
  white-space: nowrap;
}

/* System images image container*/
.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; /* Center items vertically */
  height: 100vh; /* Full height of the viewport */
  margin: 0 auto;
  padding: 20px;
}

/* Image container */
.image-container {
  max-width: 600px; /* Set max-width as needed */
  padding: 2rem; /* Same padding as container */
  background-color: #ffffff; /* Same background color as container */
  border-radius: 8px; /* Same border radius as container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Same box shadow as container */
  flex-shrink: 0; /* Prevent shrinking */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 10px; /* Adjust left margin to pull to the left */
  overflow: hidden; /* Hide any overflow content */
  width: 600%; /* Ensure the container uses the full width of its parent */
  height: 85%; /* Adjust the height to maintain aspect ratio */
}

.system-image {
  width: 120%; /* Fill the container width */
  height: 120%; /* Fill the container height */
  object-fit: cover; /* Ensure the image covers the entire container */
  object-position: center; /* Center the image within the container */
}


@media (max-width: 1200px) {
  .container-wrapper {
    flex-direction: column;
  }

  .image-container {
    margin: 10px 0; /* Space between the stacked containers */
  }
}

/* Add padding to table headers */
.table th {
  padding: 8px;
}

/* Add padding to table cells */
.table td {
  padding: 8px;
}

#recaptchaContainer {
  margin-top: 20px; /* Adjust this value as needed to move it down */
}


/* Ensure the page is scrollable */
html, body {
  height: 100%;
  overflow: auto;
}