/* Global styles */
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif; /* Specify a fallback font */
}

/* Container styles */
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
  text-align: center;
  color: #007bff;
}

/* Form styles */
form {
  margin-top: 20px;
}

label {
  font-weight: bold;
  color: #495057;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#prediction {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #28a745;
}

/* styles.css */
.prediction-text {
  font-weight: bold;
  font-size: 16px;
}

.prediction-text.fraud {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.prediction-text.not-fraud {
  color: green;
  font-weight: bold;
  font-size: 16px;
}

.user-profile {
  position: fixed;
  top: 20px;
  right: 20px;
}

.profile-circle {
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
}

.profile-circle.active + .dropdown-menu {
  display: block;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Custom styles */
.eye-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: calc(50% - 7px);
  z-index: 999;
}
.system-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}